.addUser{
    width: max-content;
    height: max-content;
    padding: 20px;
    background-color: #9B1818;
    border-radius: 10px;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;

    form{
        display: flex;
        gap: 20px;

        input{
            padding: 10px;
            border-radius: 8px;
            border: none;
            outline: none;
        }
        .divide{
            display: flex;
            gap: 10px;
        }
        button{
            padding: 5px;
            margin-right: 10px;
            border-radius: 10px;
            background-color: #dee3e9;
            color: black;
            border: none;
            cursor: pointer;
        }
    }
    .user{
        margin-top: 50px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail{
            display: flex;
            align-items: center;

        }
        span{
            color: white;
        }
        button {
            padding: 5px;
            margin-right: 10px;
            border-radius: 10px;
            background-color: #dee3e9;
            color: black;
            border: none;
            cursor: pointer;
        }
    }

}