.cardDisplay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.playerHand-container {
    display: flex;
    justify-content: center;
    margin-top:auto;
    margin-bottom: 20px;
}

.dealerHand-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.cardArea {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px 10px;
}

.cardArea img {
    max-width:100px;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    gap: 75px;
}
.action-btn {
    width: 150px;
    height:50px;
    border-radius: 6px;
    background-color: darkgoldenrod;
}
.end-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: white;
}
.end-game {
    width: 150px;
    height:50px;
    border-radius: 6px;
    color: white;
    align-items: center;
}
.leave-btn {
    justify-content: left;
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
}
.stats-container {
    justify-content: right;
    display: flex;
    padding-right: 10px;
    padding-bottom: 5px;
}
.bet-container{
    justify-content: center;
    margin-top: 250px;
}
.start-container{
    justify-content: center;
    margin-top: 150px;
}
.start-btn{
    width: 300px;
    height:80px;
    border-radius: 8px;
    background-color: darkgoldenrod;
}
.place-bet-tag, .bet-container, .play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.bet-value{
    display: flex;
    justify-content: center;
    width: 50%;
}


