.chatlist{
    flex: 1;
    overflow-y: scroll;
    min-height: 0;
    padding-right: 10px;

    .search {
        display: flex;
        align-items: center;
        gap: 20px;

        .searchBar {
            flex: 1;
            background-color: #959BA4;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 12px;
            flex-shrink: 0;

            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        .add {
            width: 36px;
            height: 36px;
            justify-content: center;
            align-items: center;
            background-color: dimgrey;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        padding:20px;
        cursor: pointer;
        border-bottom: 1px solid #3f3f3f;
        flex-shrink: 0;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        .text{
            display:flex;
            flex-direction: column;
            gap: 10px;

            span{
                font-weight: 500;
            }
            p{
                font-size: 14px;
                font-weight: 300;
            }
        }


    }
}