.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 0;
  gap: 64px;
  font-family: var(--font-geist-sans);
}


.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  background: url("../public/background.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 0;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 0;
  font-weight: 600;
}


.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100px;
  height: 50px;
  color: black;
  background: white;
  font-size: 24px;
  font-weight: 15;
  border-radius: 7px;
  margin-bottom: 15px;
}


.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 20vh;
  width: 40vh;
}